@page "/about"

<PageTitle>Boostise | About</PageTitle>

<h1 class="page_header">О компании</h1>
<div class="page_content"><p>Pellentesque elit ullamcorper dignissim cras tincidunt lobortis feugiat vivamus at</p>

<Feedback />

</div>