@page "/"

<PageTitle>Boostise | Home</PageTitle>

<h1 class="page_header">Добро пожаловать на сайт бесплатных объявлений</h1>
<div class="page_content"><p>Для добавления объявления перейдите в раздел “<a href="/addadv">Добавить</a>”</p></div>
